@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.logo::before {
    display: block;
    content: '';
    background-image: url(/project/icons/logo.svg);
    width: 33px;
    height: 36px;
}

.linkbtn::after {
    display: block;
    content: '';
    background-image: url(/project/icons/minus.svg);
    width: 20px;
    height: 18px;

}

.checkbox_title::before {
    display: block;
    content: '';
    background-image: url(/project/icons/checkbox.svg);
    width: 10px;
    height: 2px;
}

.label_last::after {
    display: block;
    content: '';
    width: 10px;
    height: 1px;
    background-color: black;
    position: absolute;
}

.add_cart_button {
    padding: 6px 25px;
    border-radius: 8px;
    background-color: green;
}

.decrease::after {
    display: block;
    content: '';
    background-image: url(/project/icons/minus.svg);
    width: 20px;
    height: 18px;
}

.add_product_button::before {
    background-image: url(/project/icons/Vector.svg);
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    padding-right: 25px;
}

.description_button_edit::before {
    background-image: url(/project/icons/edit.svg);
    display: block;
    content: '';
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding-right: 20px;
}

.textarea {
    width: 400px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
}