@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.logo::before {
    display: block;
    content: '';
    background-image: url(/project/icons/logo.svg);
    width: 33px;
    height: 36px;
}

.linkbtn::after {
    display: block;
    content: '';
    background-image: url(/project/icons/minus.svg);
    width: 20px;
    height: 18px;

}

.checkbox_title::before {
    display: block;
    content: '';
    background-image: url(/project/icons/checkbox.svg);
    width: 10px;
    height: 2px;
}

.label_last::after {
    display: block;
    content: '';
    width: 10px;
    height: 1px;
    background-color: black;
    position: absolute;
}

.add_cart_button {
    padding: 6px 25px;
    border-radius: 8px;
    background-color: green;
}

.decrease::after {
    display: block;
    content: '';
    background-image: url(/project/icons/minus.svg);
    width: 20px;
    height: 18px;
}